{% schema %}
  {
    "name": "Stamped",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

<div id="review-area-heading"><h3 class="stamped-review-heading SectionHeader__Heading Heading u-h3" style="max-width: 1200px;"><span style="font-family: 'TT Commons';font-size: 1.7em;">{{ product.title }} &nbsp;</span><span style="font-family:'Meritocracy';font-size:2.8em;">reviews</span></h3></div>
<!--Start Stamped.io Auto Installation--><div id="stamped-main-widget" class="stamped-main-widget" data-widget-style="standard" data-product-id="{{ product.id }}" data-name="{{ product.title | escape }}" data-url="{{ shop.url }}{{ product.url }}" data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}" data-description="{{ product.description | escape }}" data-product-sku="{{product.handle}}" data-product-type="{{product.type}}" data-widget-language="{{shop.locale}}"></div><!--End Stamped.io Auto Installation-->
  </div>

